/* for smartphone */
@media only screen and (max-width: 600px) {
  .topImageHome, .cardImageShop, .cardImageWishlist{
    height: 17rem!important;
  }
  .font14{
    font-size: 13px!important;
  }
  .font13{
    font-size: 12px!important;
  }
  .font12{
    font-size: 11px!important;
  }
  .shopCardTitle{
    font-size: 14px!important;
    line-height: 0.9!important;
  }
  .shopPrice{
    font-size: 13px!important;
  }
  .discount{
    font-size: 11px!important;
  }
  .mobileMenuItem{
    font-size: 16px!important;
  }
  .mobileMenuItem:has(.navLinks.active) {
    background-color: #F6973F;
  }
  .navLinks.active{
    color: white!important;
  }
  .shopContainer, .wishlistContainer{
    padding: 1rem 0rem!important;
  }
  .mainHeadingAbout{
    font-size: 25px;
  }
  .secondaryHeadingAbout{
      font-size: 18px;
  }
  .aboutus_text{
    width: 85%;
    font-size: 12px;
    line-height: 22px;
  }
  .about_home{
    padding: 0rem 2rem!important;
  }
  .about_row{
    margin: 2rem 1rem!important;
  }
  .aboutCard_mainHeading{
    font-size: 18px;
  }
  .aboutCard_subHeading{
    font-size: 12px;
    line-height: 22px;
  }
  .about_columns{
    padding: 0.3rem!important;
  }
  .aboutCard_img{
    height: 6rem;
  }
  .recommandMobile{
    display: flex!important;
  }
  .recommandLaptop{
      display: none!important;
  }
}