:root {
    --primary-color: #1E1E1E;
    --secondary-color: #F6973F;
    --secondary-color-hover: #f07300;
    --accent-color: #f7f7f7;
    --text-color: #7b7b7b;
    --light-color: #5c5c5c;
}

body {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    line-height: 30px!important;
}

p{
    color: var(--light-color);
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
.lightborder{
    border: 1px solid #dee2e6!important;
}
.cursor-pointer{
    cursor: pointer;
}
.fw-200{
    font-weight: 200!important;
}
.font10{
    font-size: 10px!important;
}
.font12{
    font-size: 12px!important;
}
.font14{
    font-size: 14px!important;
}
.font16{
    font-size: 16px!important;
}
.font18{
    font-size: 18px!important;
}
.font20{
    font-size: 20px!important;
}
.font22{
    font-size: 22px!important;
}
.font24{
    font-size: 24px!important;
}
.font26{
    font-size: 26px!important;
}

.primaryColor {
    color: var(--primary-color)!important;
}

.secondaryColor {
    color: var(--secondary-color)!important;
}
.mediumBold{
    font-family: 'Gilroy-Medium', sans-serif !important;
    font-weight: 500;
}
.customBold{
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-weight: 700;
}
/* Header */
.header{
    line-height: 160%;
    font-size: 15px;
    color: var(--primary-color);
    padding: 2rem;
}
.navLinks:hover{
    color: var(--secondary-color)!important;
}
.navLinks.active{
    color: var(--secondary-color)!important;
}
.logo{
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-size: 30px;
    color: var(--primary-color);

}
.wishlistBadge{
    top: 10%!important;
    left: 80%!important;
    font-size: 10px!important;
}
.customButton{
    padding: 8px 30px!important;
    border-radius: 40px!important;
    color: var(--primary-color)!important;
    border: 1px solid var(--text-color)!important;
}
.customButton:hover{
    background-color: var(--primary-color)!important;
    color: var(--accent-color)!important;
}
.customInput{
    padding: 8px 30px!important;
    padding-left: 50px!important;
    border-radius: 40px!important;
    color: var(--primary-color)!important;
    border: 1px solid var(--text-color)!important;
}

.customInput:focus{
    outline: none;
    border-color: var(--secondary-color)!important;
}

.customInputNoIcon{
    padding: 8px 30px!important;
    border-radius: 40px!important;
    color: var(--primary-color)!important;
    border: 1px solid var(--text-color)!important;
}

.customInputNoIcon:focus{
    outline: none;
    border-color: var(--secondary-color)!important;
}
.customButtonNoIcon{
    width: 48px;
    height: 48px;
}
.customSearchIcon{
    background-color: var(--primary-color)!important;
    color: var(--accent-color)!important;
    width: 35px!important;
    height: 35px!important;
    border-radius: 50%!important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px!important;
}
/* Welcome */
.welcome {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
    min-height: 700px;
    transition: background-image 1s ease-in-out;
  }
  
.mainHeading{
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-size: 65px;
    color: var(--accent-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.secondaryHeading{
    font-size: 22px;
    color: var(--accent-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.sectionsHeading{
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-size: 30px;
    color: var(--primary-color);
}
/* Why US */
.WhyUs{
    line-height: 160%;
    font-size: 15px;
    color: var(--primary-color);
    padding: 2rem;
}
.shineEffect:hover .fa-solid{
    transform: translateX(5px);
    transition: transform 0.3s ease-in-out;
}

/* Footer */
.footer {
    background-color: var(--accent-color);
    line-height: 160%;
    font-size: 15px;
    color: var(--primary-color);
    padding: 2rem;
}

/* Experience */
.experienceImg{
    width: 90%;
}
.ExperienceSection{
    padding: 8rem 2rem;

}
.topSmallHeading{
    color: var(--secondary-color);
    letter-spacing: 3px;
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-weight: 600;
}
/* material */
.materialImg{
    height: auto;
    width: 75%;
}
.firstImgCol{
    height: auto;
    width: 80%;
}
/* Top Picked */
.topCards{
    cursor: pointer;
}
.topCards:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/* Shop */
.shopContainer{
    padding: 2rem 0rem;
}

.vertical-filters-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;
}
.shopSelect{
    width: 200px!important;
    border: 1px solid #dee2e6;
}
.shopSelect:hover{
    border: 1px solid #dee2e6;
    border-color: #dee2e6!important;
}
.shopSelect:focus{
    border: 1px solid #dee2e6;
    border-color: #dee2e6!important;
}
.discount {
    color: var(--secondary-color-hover);
    background: linear-gradient(90deg, #ffe8d6, #ffb4a2);
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 5px 0px 0px 5px;
    font-size: 12px;
    font-weight: 900;

    /* Cut bottom-right corner */
    clip-path: polygon(
        0 0,     /* top-left */
        100% 0,  /* top-right */
        100% 0%,/* near bottom-right */
        85% 100%,/* cut in */
        0 100%   /* bottom-left */
    );
}


/* Wishlist */
.wishlistContainer{
    padding: 2rem;
}
.wishlistCross{
    width: 20px;
    height: 20px;
}
/* Contact */
.faqContainer{
    background-color: #fff1e6;
    padding: 3rem 2rem;
}
.faqContainerSecond{
    padding: 3rem 2rem;
}
.subscriptionContainer{
    background-color: #f5f5f5;
    padding: 3rem 2rem;
}
/* About US */
.aboutus_img{
    height: 20rem;
    background-image: url('../about_us_2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 8rem;
}
.mainHeadingAbout{
    font-family: 'Gilroy-Bold', sans-serif !important;
    font-size: 45px;
    color: var(--primary-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.secondaryHeadingAbout{
    font-size: 18px;
    color: var(--primary-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.aboutus_text{
    background-color: #ffe1c6;
    width: 60%;
}
.about_row{
    margin: 2rem 2rem!important;
}
.aboutCard_img{
    height: 8rem;
}
.about_bg_1{
    background-color: #f3f3f7;
}
.about_bg_2{
    background-color: #e9e6f7;
}
.about_bg_3{
    background-color: #ece5e8;
}
.about_columns{
    padding: 2rem!important;
}
.recommandMobile{
    display: none!important;
}
.recommandLaptop{
    display: flex!important;
}
.upperNavLinks{
    color: var(--light-color);
    cursor: pointer;
}
.upperNavLinks:hover{
    color: var(--secondary-color)!important;
    text-decoration: underline;
}
.shopHeadingLight{
    font-size: 20px;
    font-weight: 200;
    color: var(--light-color);
}
.shopPrice{
    font-size: 20px;
}
ul.no-bullets {
    list-style-type: none;
    padding: 0rem 0.7rem;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: var(--light-color);
}
.fw-300{
    font-weight: 300!important;
}